[submodule "h175_model_anode"]
	path = h175_model_anode
	url = https://github.com/H2FLY-GmbH/h175_model_anode.git
[submodule "h175_model_cathode"]
	path = h175_model_cathode
	url = https://github.com/H2FLY-GmbH/h175_model_cathode.git
[submodule "h175_model_stack"]
	path = h175_model_stack
	url = https://github.com/H2FLY-GmbH/h175_model_stack.git
[submodule "h175_model_thermal"]
	path = h175_model_thermal
	url = https://github.com/H2FLY-GmbH/h175_model_thermal.git
